<script type="text/javascript">//只有页面加载完后才能通过 JQuery 获取 DOM 元素
    // 点击按钮弹出下拉框
    $('.ui.dropdown').dropdown();
    // 鼠标悬浮在头像上，弹出气泡提示框
    $('.post-content .avatar').popup({
      inline: true,
      position: 'bottom right',
      lastResort: 'bottom right',
    });
  </script>
  </body>
</html>